#board {
	background-color: yellow;
	width: 630px;
	height: 630px;
}

div {
	float: left;
	background-color: purple;
	width: 200px;
	height: 200px;
	margin: 5px;
	font-size: 250px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: orange;
}